# PostgreSQL 
POSTGRES_DB=erp_db
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=change_me_redis_password
REDIS_PORT=6379

# NestJS
API_PORT=3000
JWT_SECRET=change_me_min_32_characters_random_string_here
JWT_EXPIRES_IN=15m
REFRESH_EXPIRES=7d
DB_POOL_MAX=20
DATABASE_SSL=false

# Go
GRPC_PORT=50051

# Angular Frontend
FRONTEND_PORT=4200

# Redis Commander (dev tools)
REDIS_CMDR_USER=admin
REDIS_CMDR_PASS=admin
REDIS_CMDR_PORT=8081
